<!DOCTYPE html>

<html>

<head>

<title>Room Form</title>

</head>



<body>


  
<form name="myForm2" action="" onSubmit="return False">
Customer First Name: <br />
<input type = "text" />
<br /><br />
Customer Last Name: <br />
<input type = "text" />
<br /><br />
Customer Email: <br />
<input type = "email" />
<br /><br />
Customer Phone Number:<br />
<input type = "tel" id="phone" name="phone" />
<br /><br />
<label for="room">Room:</label>

<select name="Rooms" id="room">
  <option value="Mtm">Minutes To Midnight</option>
  <option value="Stb">Superhero Corp</option>
  <option value="Ntb">Nancy Corp</option>
  <option value="Svm">Sherlock Vs. Moriarty</option>
  <option value="Scas">Superhero F&F</option>
  <option value="Ncas">Nancy F&F</option>
  <option value="MP">Moriartys Parlor</option>
  <option value="TI">Treasure Island</option>
  <option value="EF">Enchanted Forest</option>
  <option value="MM">Magiacians Manison</option>
  <option value="GCP">Christmas</option>
  <option value="SCorpS">Superhero Corp Spanish</option>
  <option value="SCasS">Superhero Cas Spanish</option>


</select>
<br /><br />
Date: <br />
<input type = "date" />
<br /><br />

Time: <br />
<input type = "time" />
<br /><br />

Quantity:<br />
<input type = "number" />
<br /><br />

Password:<br />
<input type = "password" />
<br /><br />

<br />
<input type = "reset" />
<br /><br />

<br />
<input type = "button" value = "Submit" onclick="document.myform2.submit()" />
<br /><br />




</form>

</body>

</html>
